<a href="https://colab.research.google.com/github/drashtikshah/Stats/blob/main/drashti_sds_10_60009210079.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Q1

In [ ]:
path = "/content/Plant_Growth_New.csv"
df = pd.read_csv(path)
print(df)

                               Treatment  Height
0       low sun exposure and water daily       6
1       low sun exposure and water daily       6
2       low sun exposure and water daily       6
3       low sun exposure and water daily       5
4       low sun exposure and water daily       6
5   medium sun exposure and water daily        5
6   medium sun exposure and water daily        5
7   medium sun exposure and water daily        6
8   medium sun exposure and water daily        4
9   medium sun exposure and water daily        5
10     high sun exposure and water daily       6
11     high sun exposure and water daily       6
12     high sun exposure and water daily       7
13     high sun exposure and water daily       8
14     high sun exposure and water daily       7
15     low sun exposure and water weekly       3
16     low sun exposure and water weekly       4
17     low sun exposure and water weekly       4
18     low sun exposure and water weekly       4
19     low sun exposure and water weekly       5
20  medium sun exposure and water weekly       4
21  medium sun exposure and water weekly       4
22  medium sun exposure and water weekly       4
23  medium sun exposure and water weekly       4
24  medium sun exposure and water weekly       4
25    high sun exposure and water weekly       5
26    high sun exposure and water weekly       6
27    high sun exposure and water weekly       6
28    high sun exposure and water weekly       7
29    high sun exposure and water weekly       8

In [ ]:
print("Null hpyotheisi is that there is no significant diffrence between the treatment on plats with there growth.")
print("Alternate hypothrisi is that there is signiicane diffrence between the treatment on plats with there growth.")
alpha = 0.05
mod = ols("Height~Treatment", data = df).fit()
aov = sm.stats.anova_lm(mod)
print("one way anova table is given below:\n", aov)

Null hpyotheisi is that there is no significant diffrence between the treatment on plats with there growth.
Alternate hypothrisi is that there is signiicane diffrence between the treatment on plats with there growth.
one way anova table is given below:
              df     sum_sq   mean_sq      F    PR(>F)
Treatment   5.0  35.866667  7.173333  13.45  0.000003
Residual   24.0  12.800000  0.533333    NaN       NaN

In [ ]:
f_statistics = aov['F']['Treatment']
p_value = aov['PR(>F)']['Treatment']
print('f_statsitics = ', f_statistics, 'p-value', p_value)
if p_value > alpha:
  print("Null hpyotheisi is that there is no significant diffrence between the treatment on plats with there growth."+str(alpha))
else:
  print("Alternate hypothrisi is that there is signiicane diffrence between the treatment on plats with there growth."+str(alpha))

f_statsitics =  13.449999999999998 p-value 2.6191797394662647e-06
Alternate hypothrisi is that there is signiicane diffrence between the treatment on plats with there growth.0.05

In [ ]:
tukey = pairwise_tukeyhsd(endog=df['Height'], groups=df['Treatment'], alpha=0.05)
print("Tukey post-hoc analyisi for the givern set is given below\n", tukey)

Tukey post-hoc analyisi for the givern set is given below
                               Multiple Comparison of Means - Tukey HSD, FWER=0.05
================================================================================================================
               group1                               group2                meandiff p-adj   lower   upper  reject
----------------------------------------------------------------------------------------------------------------
   high sun exposure and water daily   high sun exposure and water weekly     -0.4    0.9 -1.8282  1.0282  False
   high sun exposure and water daily     low sun exposure and water daily     -1.0   0.29 -2.4282  0.4282  False
   high sun exposure and water daily    low sun exposure and water weekly     -2.8  0.001 -4.2282 -1.3718   True
   high sun exposure and water daily medium sun exposure and water daily      -1.8 0.0079 -3.2282 -0.3718   True
   high sun exposure and water daily medium sun exposure and water weekly     -2.8  0.001 -4.2282 -1.3718   True
  high sun exposure and water weekly     low sun exposure and water daily     -0.6 0.7576 -2.0282  0.8282  False
  high sun exposure and water weekly    low sun exposure and water weekly     -2.4  0.001 -3.8282 -0.9718   True
  high sun exposure and water weekly medium sun exposure and water daily      -1.4  0.057 -2.8282  0.0282  False
  high sun exposure and water weekly medium sun exposure and water weekly     -2.4  0.001 -3.8282 -0.9718   True
    low sun exposure and water daily    low sun exposure and water weekly     -1.8 0.0079 -3.2282 -0.3718   True
    low sun exposure and water daily medium sun exposure and water daily      -0.8 0.5222 -2.2282  0.6282  False
    low sun exposure and water daily medium sun exposure and water weekly     -1.8 0.0079 -3.2282 -0.3718   True
   low sun exposure and water weekly medium sun exposure and water daily       1.0   0.29 -0.4282  2.4282  False
   low sun exposure and water weekly medium sun exposure and water weekly      0.0    0.9 -1.4282  1.4282  False
medium sun exposure and water daily  medium sun exposure and water weekly     -1.0   0.29 -2.4282  0.4282  False
----------------------------------------------------------------------------------------------------------------

Q2

In [ ]:
path = "/content/Plant_Growth_New_2.csv"
df = pd.read_csv(path)
df

   Sun_Exposure   Water  Height
0           low   daily       6
1           low   daily       6
2           low   daily       6
3           low   daily       5
4           low   daily       6
5        medium   daily       5
6        medium   daily       5
7        medium   daily       6
8        medium   daily       4
9        medium   daily       5
10         high   daily       6
11         high   daily       6
12         high   daily       7
13         high   daily       8
14         high   daily       7
15          low  weekly       3
16          low  weekly       4
17          low  weekly       4
18          low  weekly       4
19          low  weekly       5
20       medium  weekly       4
21       medium  weekly       4
22       medium  weekly       4
23       medium  weekly       4
24       medium  weekly       4
25         high  weekly       5
26         high  weekly       6
27         high  weekly       6
28         high  weekly       7
29         high  weekly       8

In [ ]:
print("Null hypotehis H_01 is that there is no signifiacne effect of sunlight exposure on plant growth.")
print("alternative  hypotehis H_a1 is that there is signifiacne effect of sunlight exposure on plant growth.")
print("Null hypothis H_02 is that there is no signifiacne effect of watering frequency on plant growth.")
print("Alternative hypothis H_a2 is that there is siginifance effect of watering frequency on plant growth.")
print("null hypotheis H_03 is that there is no sigificant interaction effect of watering frequecy and sunligth exposure.")
print("alterntive hypothsis H_a3 is that there is signifiacnt intercation effect of watering frequecy and sunligth exposure ")

Null hypotehis H_01 is that there is no signifiacne effect of sunlight exposure on plant growth.
alternative  hypotehis H_a1 is that there is signifiacne effect of sunlight exposure on plant growth.
Null hypothis H_02 is that there is no signifiacne effect of watering frequency on plant growth.
Alternative hypothis H_a2 is that there is siginifance effect of watering frequency on plant growth.
null hypotheis H_03 is that there is no sigificant interaction effect of watering frequecy and sunligth exposure.
alterntive hypothsis H_a3 is that there is signifiacnt intercation effect of watering frequecy and sunligth exposure

In [ ]:
mod = ols("Height~Sun_Exposure*Water", data = df).fit()
aov = sm.stats.anova_lm(mod)
print("two way anova table is given below:\n", aov)

two way anova table is given below:
                       df     sum_sq    mean_sq        F    PR(>F)
Sun_Exposure         2.0  24.866667  12.433333  23.3125  0.000002
Water                1.0   8.533333   8.533333  16.0000  0.000527
Sun_Exposure:Water   2.0   2.466667   1.233333   2.3125  0.120667
Residual            24.0  12.800000   0.533333      NaN       NaN

In [ ]:
f_statistics_1 = aov['F']['Sun_Exposure']
p_value_1 = aov['PR(>F)']['Sun_Exposure']
print('f_statisitics_1 = ', f_statistics_1, 'pvalue1=', p_value_1)
if p_value_1 > alpha:
  print("failed to reject the null hypothes H_01 for a level og significane =" + str(alpha))
else:
  print("null hypothis H_01 is rejectd for a level of siginiface =" + str(alpha))

f_statisitics_1 =  23.312500000000004 pvalue1= 2.371555925858255e-06
null hypothis H_01 is rejectd for a level of siginiface =0.05

In [ ]:
f_statistics_2 = aov['F']['Water']
p_value_2 = aov['PR(>F)']['Water']
print('f_statisitics_2 = ', f_statistics_1, 'pvalue2=', p_value_2)
if p_value_1 > alpha:
  print("failed to reject the null hypothes H_01 for a level og significane =" + str(alpha))
else:
  print("null hypothis H_01 is rejectd for a level of siginiface =" + str(alpha))

f_statisitics_2 =  23.312500000000004 pvalue2= 0.0005269080727817035
null hypothis H_01 is rejectd for a level of siginiface =0.05

In [ ]:
f_statistics_3 = aov['F']['Water']
p_value_3 = aov['PR(>F)']['Water']
print('f_statisitics_3 = ', f_statistics_3, 'pvalue3=', p_value_3)
if p_value_1 > alpha:
  print("failed to reject the null hypothes H_01 for a level og significane =" + str(alpha))
else:
  print("null hypothis H_01 is rejectd for a level of siginiface =" + str(alpha))

f_statisitics_3 =  16.0 pvalue3= 0.0005269080727817035
null hypothis H_01 is rejectd for a level of siginiface =0.05