<a href="https://colab.research.google.com/github/drashtikshah/Stats/blob/main/expt_7_sds_60009210079.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import math
import scipy.stats as stats
import statistics as st

In [ ]:
def pvalue(test,prob):
  if test == 'two-tailed':
    p_value = prob
  else:
    p_value = prob/2
  return p_value

Q1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = "/content/drive/MyDrive/blood_pressure.csv"
data = pd.read_csv(path)
data

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [ ]:
from statsmodels.stats import weightstats as stests

In [ ]:
print("Null hypothesis is that the blood pressure before treatment has a mean value of 156.  ")
print("Alternative hypothesis is that the blood pressure before treatment does not has a mean value of 156.")
z_statistics, p_value = stests.ztest(data['bp_before'], x2=None, value=156)
print("z-statistics is: ", z_statistics, "p-value is : ", p_value)
alpha = 0.05
if p_value > alpha:
  print("Failed to reject the null hypothesis for levle of significance= " + str(alpha))
else:
  print("Null hypothesis is rejected for level of significane= " + str(alpha))

Null hypothesis is that the blood pressure before treatment has a mean value of 156.
Alternative hypothesis is that the blood pressure before treatment does not has a mean value of 156.
z-statistics is:  0.432798073526164 p-value is :  0.6651614730255063
Failed to reject the null hypothesis for levle of significance= 0.05

In [ ]:
defÂ one_sample_z_test(P_m,Â s_m,Â P_sd,Â s_n,Â alpha,Â alternative):
Â  Â print("One-Sample",Â alternative,Â "Z-testÂ ofÂ sampleÂ mean")
Â Â  print("--------------------------------------------------------------------------------------")
Â Â #Â TheÂ p-valueÂ approach
Â Â  print("ApproachÂ 1:Â TheÂ p-valueÂ approachÂ toÂ hypothesisÂ testingÂ inÂ theÂ decisionÂ rule")
  Â z_statsÂ =Â (s_mÂ -Â P_m)/(P_sd/math.sqrt(s_n))
Â Â  ifÂ alternativeÂ ==Â "left-tailed":
Â Â Â   Â p_valueÂ =Â stats.norm.cdf(z_stats)
Â Â  elifÂ alternativeÂ ==Â "right-tailed":
Â Â Â Â  p_valueÂ =Â 1Â -Â stats.norm.cdf(z_stats)Â #Â orÂ stats.norm.sf(z_stats)
Â Â  elifÂ alternativeÂ ==Â "two-tailed":
Â Â Â Â  z_statsÂ =Â abs(z_stats)
Â Â Â  Â p_valueÂ =Â 2*(1Â -Â stats.norm.cdf(z_stats))
Â Â  conclusionÂ =Â "FailedÂ toÂ rejectÂ theÂ nullÂ hypothesisÂ forÂ levelÂ ofÂ significanceÂ =Â "Â +Â str(alpha)
Â Â ifÂ p_valueÂ <=Â alpha:
Â Â Â Â  conclusionÂ =Â "NullÂ HypothesisÂ isÂ rejectedÂ forÂ levelÂ ofÂ significanceÂ =Â "Â +Â str(alpha)
print("z-statisticsÂ is:",Â z_stats,Â "Â andÂ pÂ valueÂ is:",Â p_value)
print(conclusion)
Â Â #Â TheÂ criticalÂ valueÂ approach
Â Â print("\n--------------------------------------------------------------------------------------")
Â Â print("ApproachÂ 2:Â TheÂ criticalÂ valueÂ approachÂ toÂ hypothesisÂ testingÂ inÂ theÂ decisionÂ rule")
Â Â z_statsÂ =Â (s_mÂ -Â P_m)/(P_sd/math.sqrt(s_n))

Â Â conclusionÂ =Â "FailedÂ toÂ rejectÂ theÂ nullÂ hypothesisÂ forÂ levelÂ ofÂ significanceÂ =Â "Â +Â str(alpha)
Â Â ifÂ alternativeÂ ==Â "left-tailed":
Â Â Â Â z_critÂ =Â stats.norm.ppf(alpha)
Â Â Â Â ifÂ z_statsÂ <Â z_crit:
Â Â Â Â Â Â conclusionÂ =Â "NullÂ HypothesisÂ isÂ rejectedÂ forÂ levelÂ ofÂ significanceÂ =Â "Â +Â str(alpha)
Â Â elifÂ alternativeÂ ==Â "right-tailed":
Â Â Â Â z_critÂ =Â stats.norm.ppf(1-alpha)
Â Â Â Â ifÂ z_statsÂ >Â z_crit:
Â Â Â Â Â Â conclusionÂ =Â "NullÂ HypothesisÂ isÂ rejectedÂ forÂ levelÂ ofÂ significanceÂ =Â "Â +Â str(alpha)
Â Â elifÂ alternativeÂ ==Â "two-tailed":
Â Â Â Â z_statsÂ =Â abs(z_stats)
Â Â Â Â z_critÂ =Â stats.norm.ppf(1Â -Â alpha/2)
Â Â Â Â ifÂ z_statsÂ >Â z_crit:
Â Â Â Â Â Â conclusionÂ =Â "NullÂ HypothesisÂ isÂ rejectedÂ forÂ levelÂ ofÂ significanceÂ =Â "Â +Â str(alpha)

Â Â print("z-statisticsÂ is:",Â z_stats,Â "Â andÂ criticalÂ valueÂ is:",Â z_crit)
Â Â print(conclusion)

In [ ]:
P_m = 156
s_m = st.mean(data['bp_before'])
P_sd = st.stdev(data['bp_before'])
s_n = len(data['bp_before'])
alpha = 0.05
alternative = 'two-tailed'
one_sample_z_test(P_m, s_m, P_sd, s_n, alpha, alternative)

NameError: ignored

Q2

In [ ]:
path = "/content/drive/MyDrive/systolic blood pressure.csv"
data = pd.read_csv(path)
data

     armsys  fingsys
0       140      154
1       110      112
2       138      156
3       124      152
4       142      142
..      ...      ...
195     122      136
196     100      112
197     136      124
198     124      120
199     100      106

[200 rows x 2 columns]

In [ ]:
print("null hypothesis is that the systolic pressure measured on arm has a mean vlaue of 125mmHg.")
print("alte4rnative hypothesis is that the systolic pressure measured on arm does not  has a mean vlaue of 125mmHg.")
z_statistics, p_value = stests.ztest(data['armsys'], x2=None, value=125)
print("z-statistics is: ", z_statistics, "p-value is : ", p_value)
alpha = 0.05
if p_value > alpha:
  print("Failed to reject the null hypothesis for levle of significance= " + str(alpha))
else:
  print("Null hypothesis is rejected for level of significane= " + str(alpha))

null hypothesis is that the systolic pressure measured on arm has a mean vlaue of 125mmHg.
alte4rnative hypothesis is that the systolic pressure measured on arm does not  has a mean vlaue of 125mmHg.
z-statistics is:  2.1376342148925 p-value is :  0.032546442541153964
Null hypothesis is rejected for level of significane= 0.05

Q3

In [ ]:
print("null hypothesis is that the given sample repersents the batch of string having mean breaking strenght of 15.6 pounds and standard deviation of 2.2 pounds.")
print("alternative hypothesis is that the given sample does not repersents the batch of string having mean breaking strenght of 15.6 pounds and standard deviation of 2.2 pounds.")
P_m = 15.6
P_sd = 2.2
s_m = 14.5
s_n = 50
alpha = .05
alternative = 'two-tailed'
one_sample_z_test(P_m, s_m, P_sd, s_n, alpha, alternative)

null hypothesis is that the given sample repersents the batch of string having mean breaking strenght of 15.6 pounds and standard deviation of 2.2 pounds.
alternative hypothesis is that the given sample does not repersents the batch of string having mean breaking strenght of 15.6 pounds and standard deviation of 2.2 pounds.

NameError: ignored

In [ ]:
defÂ Two_sample_z_test(s_m_1,Â s_m_2,Â s_sd_1,Â s_sd_2,Â s_n_1,Â s_n_2,Â value,Â alpha,Â alternative):
Â Â print("Two-Sample",Â alternative,Â "Z-testÂ ofÂ differenceÂ ofÂ sampleÂ mean")
Â Â print("--------------------------------------------------------------------------------------")
Â Â #Â TheÂ p-valueÂ approach
Â Â print("ApproachÂ 1:Â TheÂ p-valueÂ approachÂ toÂ hypothesisÂ testingÂ inÂ theÂ decisionÂ rule")
Â Â ifÂ alternativeÂ ==Â "left-tailed":
Â Â Â Â z_statsÂ =Â (s_m_1Â -Â s_m_2Â -Â value)/math.sqrt(((s_sd_1**2/s_n_1)+(s_sd_2**2/s_n_2)))
Â Â Â Â p_valueÂ =Â stats.norm.cdf(z_stats)
Â Â elifÂ alternativeÂ ==Â "right-tailed":
Â Â Â Â z_statsÂ =Â (s_m_1Â -Â s_m_2Â -Â value)/math.sqrt(((s_sd_1**2/s_n_1)+(s_sd_2**2/s_n_2)))
Â Â Â Â p_valueÂ =Â 1Â -Â stats.norm.cdf(z_stats)Â #Â orÂ stats.norm.sf(z_stats)
Â Â elifÂ alternativeÂ ==Â "two-tailed":
Â Â Â Â z_statsÂ =Â (abs(s_m_1Â -Â s_m_2)Â -Â value)/math.sqrt(((s_sd_1**2/s_n_1)+(s_sd_2**2/s_n_2)))
Â Â Â Â z_statsÂ =Â abs(z_stats)
Â Â Â Â p_valueÂ =Â 2*(1Â -Â stats.norm.cdf(z_stats))

Â Â conclusionÂ =Â "FailedÂ toÂ rejectÂ theÂ nullÂ hypothesisÂ forÂ levelÂ ofÂ significanceÂ =Â "Â +Â str(alpha)
Â Â ifÂ p_valueÂ <=Â alpha:
Â Â Â Â conclusionÂ =Â "NullÂ HypothesisÂ isÂ rejectedÂ forÂ levelÂ ofÂ significanceÂ =Â "Â +Â str(alpha)

Â Â print("z-statisticsÂ is:",Â z_stats,Â "Â andÂ pÂ valueÂ is:",Â p_value)
Â Â print(conclusion)
#Â TheÂ criticalÂ valueÂ approach
Â Â print("\n--------------------------------------------------------------------------------------")
Â Â print("ApproachÂ 2:Â TheÂ criticalÂ valueÂ approachÂ toÂ hypothesisÂ testingÂ inÂ theÂ decisionÂ rule")

Â Â conclusionÂ =Â "FailedÂ toÂ rejectÂ theÂ nullÂ hypothesisÂ forÂ levelÂ ofÂ significanceÂ =Â "Â +Â str(alpha)
Â Â ifÂ alternativeÂ ==Â "left-tailed":
Â Â Â Â z_statsÂ =Â (s_m_1Â -Â s_m_2Â -Â value)/math.sqrt(((s_sd_1**2/s_n_1)+(s_sd_2**2/s_n_2)))
Â Â Â Â z_critÂ =Â stats.norm.ppf(alpha)
Â Â Â Â ifÂ z_statsÂ <Â z_crit:
Â Â Â Â Â Â conclusionÂ =Â "NullÂ HypothesisÂ isÂ rejectedÂ forÂ levelÂ ofÂ significanceÂ =Â "Â +Â str(alpha)
Â Â elifÂ alternativeÂ ==Â "right-tailed":
Â Â Â Â z_statsÂ =Â (s_m_1Â -Â s_m_2Â -Â value)/math.sqrt(((s_sd_1**2/s_n_1)+(s_sd_2**2/s_n_2)))
Â Â Â Â z_critÂ =Â stats.norm.ppf(1-alpha)
Â Â Â Â ifÂ z_statsÂ >Â z_crit:
Â Â Â Â Â Â conclusionÂ =Â "NullÂ HypothesisÂ isÂ rejectedÂ forÂ levelÂ ofÂ significanceÂ =Â "Â +Â str(alpha)
Â Â elifÂ alternativeÂ ==Â "two-tailed":
Â Â Â Â z_statsÂ =Â (abs(s_m_1Â -Â s_m_2)Â -Â value)/math.sqrt(((s_sd_1**2/s_n_1)+(s_sd_2**2/s_n_2)))
Â Â Â Â z_statsÂ =Â abs(z_stats)
Â Â Â Â z_critÂ =Â stats.norm.ppf(1Â -Â alpha/2)
Â Â Â Â ifÂ z_statsÂ >Â z_crit:
Â Â Â Â Â Â conclusionÂ =Â "NullÂ HypothesisÂ isÂ rejectedÂ forÂ levelÂ ofÂ significanceÂ =Â "Â +Â str(alpha)

  print("z-statisticsÂ is:",Â z_stats,Â "Â andÂ criticalÂ valueÂ is:",Â z_crit)
Â Â print(conclusion)

SyntaxError: ignored

Q4

In [ ]:
path = "/content/drive/MyDrive/systolic blood pressure.csv"
data = pd.read_csv(path)
data

     armsys  fingsys
0       140      154
1       110      112
2       138      156
3       124      152
4       142      142
..      ...      ...
195     122      136
196     100      112
197     136      124
198     124      120
199     100      106

[200 rows x 2 columns]

In [ ]:
print("Null hypothesis is that the mean value of systolic blood pressure measuserd on arm and finger are  the dam ei.e., s_m_1 = s_m_2")
print("Alternative hypothesis is that the mean vlaue of systolic blood  pressure on arm and finger are diffrent i.e., s_m_! != s_m_2")
z_statistics, p_value = stests.ztest(data['armsys'], data['fingsys'], value=0, alternative= 'two-sided')
print("z-statistics is: ", z_statistics, "p-value is : ", p_value)
alpha = 0.05
if p_value > alpha:
  print("Failed to reject the null hypothesis for levelof significance= " + str(alpha))
else:
  print("Null hypothesis is rejected for level of significane= " + str(alpha))

Null hypothesis is that the mean value of systolic blood pressure measuserd on arm and finger are  the dam ei.e., s_m_1 = s_m_2
Alternative hypothesis is that the mean vlaue of systolic blood  pressure on arm and finger are diffrent i.e., s_m_! != s_m_2
z-statistics is:  -1.7533233440871472 p-value is :  0.07954652069053099
Failed to reject the null hypothesis for levelof significance= 0.05

In [ ]:
print("Null hypothesis is that the mean value of systolic blood pressure measuserd on arm and finger are  the dam ei.e., s_m_1 = s_m_2")
print("Alternative hypothesis is that the mean vlaue of systolic blood  pressure on arm and finger are diffrent i.e., s_m_! != s_m_2")
s_1 = data['armsys']
s_2 = data['armsys']
s_m_1 = st.mean(s_1)
s_m_2 = st.mean(s_2)
s_sd_1 = st.stdev(s_1)
s_sd_2 = st.stdev(s_2)
s_n_1 = len(s_1)
s_n_2 = len(s_2)
value = 0
alpha = 0.05
alternative = "two-tailed"
Two_sample_z_test(s_m_1, s_m_2, s_sd_1, s_sd_2, s_n_1, s_n_2, value, alpha, alternative)

Null hypothesis is that the mean value of systolic blood pressure measuserd on arm and finger are  the dam ei.e., s_m_1 = s_m_2
Alternative hypothesis is that the mean vlaue of systolic blood  pressure on arm and finger are diffrent i.e., s_m_! != s_m_2

NameError: ignored

Q5

In [ ]:
path = "/content/drive/MyDrive/Corona_Updated.csv"
corona = pd.read_csv(path)
corona

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Temprature,Humidity,Temp_Cat,Humid_Cat
0,Hubei,Mainland China,2020-03-10T15:13:05,67760,3024,47743,30.9756,112.2707,12.5,86,1,1
1,NaN,Italy,2020-03-10T17:53:02,10149,631,724,43.0000,12.0000,12.9,64,1,1
2,NaN,Iran (Islamic Republic of),2020-03-10T19:13:20,8042,291,2731,32.0000,53.0000,11.9,9,0,0
3,NaN,Republic of Korea,2020-03-10T19:13:20,7513,54,247,36.0000,128.0000,4.9,41,0,0
4,NaN,France,2020-03-10T18:53:02,1784,33,12,47.0000,2.0000,11.9,93,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
201,New Mexico,US,2020-03-10T02:33:04,0,0,0,34.8405,-106.2485,10.0,75,0,0
202,North Dakota,US,2020-03-10T02:33:04,0,0,0,47.5289,-99.7840,2.7,89,0,0
203,South Dakota,US,2020-03-10T02:33:04,0,0,0,44.2998,-99.4388,5.9,69,0,0
204,West Virginia,US,2020-03-10T02:33:04,0,0,0,38.4912,-80.9545,10.6,96,0,0
205,Wyoming,US,2020-03-10T02:33:04,0,0,0,42.7560,-107.3025,-2.7,91,0,0

In [ ]:
corona['Temp_Cat'] = corona['Temprature'].apply(lambda x:0  if x<24 else 1)
corona_t = corona[['Confirmed','Temp_Cat']]
s_1 = corona_t[(corona_t['Temp_Cat']==1)]['Confirmed']
s_2  = corona_t[(corona_t['Temp_Cat']==0)]['Confirmed']

In [ ]:
print("Null hypotheis is that the temerature of climate is not significant to the corona outbreak i.e., s_m_1 = s_m_2")
print("Alternative hypotheis is that warm climate is more resistant to the corona outbreak as compared to cold climate i.e., s_m_1 != s_m_2")
test = 'two-tailed'
alpha = 0.05
s_m_1  = st.mean(s_1)
s_m_2 = st.mean(s_2)
s_sd_1 = st.stdev(s_1)
s_sd_2 = st.stdev(s_2)
s_n_1 = len(s_1)
s_n_2 = len(s_2)
value = 0
alternative = "two-tailed"
Two_sample_z_test(s_m_1, s_m_2, s_sd_1, s_sd_2, s_n_1, s_n_2, value, alpha, alternative)

Null hypotheis is that the temerature of climate is not significant to the corona outbreak i.e., s_m_1 = s_m_2
Alternative hypotheis is that warm climate is more resistant to the corona outbreak as compared to cold climate i.e., s_m_1 != s_m_2

NameError: ignored

Q6

In [ ]:
print("Null hyothesis is that the diffrence between the averages of the two classes id 40, s_m_1 = s_m_2")
print("Altenative hypotheis that the diffrence between the averages of the teo classes id not equal to 40, s_m_1 != s_m_2")
alpha = 0.05
alternative = "two-tailed"
s_m_1 = 380
s_m_2 = 410
s_sd_1 = 120
s_sd_2 = 80
s_n_1 = 400
s_n_2 = 600
value = 40
Two_sample_z_test(s_m_1, s_m_2, s_sd_1, s_sd_2, s_n_1, s_n_2, value, alpha, alternative)

Null hyothesis is that the diffrence between the averages of the two classes id 40, s_m_1 = s_m_2
Altenative hypotheis that the diffrence between the averages of the teo classes id not equal to 40, s_m_1 != s_m_2

NameError: ignored

Q7

In [ ]:
print("Null hypotehis is thet the differnce of the means will exceed 0.3 where is the smaller standard deviation i.e., |s_m_1 - s_m_2| = 0.3")
print("Alternative hypotheis is that the differnce of the means will not exceed 0.3 where is the smaller standard deviation i.e. |s_m_1 - s_m_2| = ")
alpha = 0.05
s_m_1 = 10
s_m_2 = 10
alternative = 'left-tailed'
s_sd_1 = 2
s_sd_2 = 4
s_n_1 = 500
s_n_2 = 500
value = 0.3*s_sd_1
Two_sample_z_test(s_m_1, s_m_2, s_sd_1, s_sd_2, s_n_1, s_n_2, value, alpha, alternative)

Null hypotehis is thet the differnce of the means will exceed 0.3 where is the smaller standard deviation i.e., |s_m_1 - s_m_2| = 0.3
Alternative hypotheis is that the differnce of the means will not exceed 0.3 where is the smaller standard deviation i.e. |s_m_1 - s_m_2| =

NameError: ignored